<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>729304122110-5n0g2934i7v6grlp2t2mnhl51oc810mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.729304122110-5n0g2934i7v6grlp2t2mnhl51oc810mg</string>
	<key>API_KEY</key>
	<string>AIzaSyCRHwVYz1gRrRk9-O124YIcD9cg71yuEfI</string>
	<key>GCM_SENDER_ID</key>
	<string>729304122110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mozilit.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>mozilit</string>
	<key>STORAGE_BUCKET</key>
	<string>mozilit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729304122110:ios:02c4b920102c6578469baf</string>
</dict>
</plist>